@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>登录</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            background: #fff url(images/backgroud.png) 50% 50% no-repeat;
            background-size: cover;
        }

        .dowebok {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 430px;
            height: 550px;
            margin: -300px 0 0 -215px;
            border: 1px solid #fff;
            border-radius: 20px;
            overflow: hidden;
        }

        .logo {
            width: 104px;
            height: 104px;
            margin: 50px auto 50px;
            background: url(/images/login.png) 0 0 no-repeat;
        }

        .form-item {
            position: relative;
            width: 360px;
            margin: 0 auto;
            padding-bottom: 30px;
        }

            .form-item input {
                width: 288px;
                height: 48px;
                padding-left: 70px;
                border: 1px solid #fff;
                border-radius: 25px;
                font-size: 18px;
                color: #fff;
                background-color: transparent;
                outline: none;
            }

            .form-item button {
                width: 360px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                font-size: 18px;
                color: #1f6f4a;
                outline: none;
                cursor: pointer;
                background-color: #fff;
            }

        #username {
            background: url(/images/emil.png) 20px 14px no-repeat;
        }

        #password {
            background: url(/images/password.png) 23px 11px no-repeat;
        }

        .titles {
            background: url(/images/emil.png) 20px 14px no-repeat;
            width: 288px;
            height: 48px;
            padding-left: 70px;
            border: 1px solid #fff;
            border-radius: 25px;
            font-size: 18px;
            color: #fff;
            background-color: transparent;
            outline: none;
        }

        .tip {
            display: none;
            position: absolute;
            left: 20px;
            top: 52px;
            font-size: 14px;
            color: #f50;
        }

        .reg-bar {
            width: 360px;
            margin: 20px auto 0;
            font-size: 14px;
            overflow: hidden;
        }

            .reg-bar a {
                color: #fff;
                text-decoration: none;
            }

                .reg-bar a:hover {
                    text-decoration: underline;
                }

            .reg-bar .reg {
                float: left;
            }

            .reg-bar .forget {
                float: right;
            }

        .dowebok ::-webkit-input-placeholder {
            font-size: 18px;
            line-height: 1.4;
            color: #fff;
        }

        .dowebok :-moz-placeholder {
            font-size: 18px;
            line-height: 1.4;
            color: #fff;
        }

        .dowebok ::-moz-placeholder {
            font-size: 18px;
            line-height: 1.4;
            color: #fff;
        }

        .dowebok :-ms-input-placeholder {
            font-size: 18px;
            line-height: 1.4;
            color: #fff;
        }

        .disw {
            position: absolute;
            top: 97%;
            overflow: hidden;
            width: 100%;
            text-align: center;
        }

        @@media screen and (max-width: 1000px) {
            .disw {
                display: none;
            }
        }

        @@media screen and (max-height: 600px) {
            .disw {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="dowebok">
        <div class="logo"></div>
        <div id="titles" style="margin-top:5px;margin-bottom:35px;"><p style="text-align:center; color:white;font-size:30px;">请登陆</p></div>
        <div class="form-item">
            <input id="username" type="text" autocomplete="off" placeholder="用户名/手机号/邮箱">
            <p class="tip" id="input1">用户名不能为空</p>
        </div>
        <div class="form-item">
            <input id="password" type="password" autocomplete="off" placeholder="登录密码">
            <p class="tip" id="ins">用户名或密码不正确</p>
            <p class="tip" id="input2">密码不能为空</p>
        </div>
        <div class="form-item"><button id="submit" onclick="submit()">登 录</button></div>
        <div class="reg-bar">
            <a class="reg" href="javascript:">@*立即注册*@</a>
            <a class="forget" href="javascript:">@*忘记密码*@</a>
        </div>
    </div>
    <div class="disw">
        © 2018 这里是你的Kirs wu - by 小午饭
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script>
        $(function () {
            //实现回车登陆
            document.onkeydown = function (e) {
                if (e.keyCode == 13) {
                    submit();
                }
            }
            $('input').val('')
        });

        function submit() {
            $("#input1").hide();
            $("#input2").hide();
            //判断用户名密码是否为空
            if ($("#username").val() == "") {
                $("#input1").show();
                return;
            }
            if ($("#password").val() == "") {
                $("#input2").show();
                return;
            }
            $.ajax({
                url: "/login/" + $("#username").val() + "/" + $("#password").val(),
                type: "get",
                success: function (result) {
                    if (result == 200) {
                        localStorage.clear();
                        window.location.href = "/Home";
                    } else {
                        $("#ins").show();
                    }
                }
            });
        }
    </script>
</body>
</html>